/* Global style */
* {
  background-color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
}
div {
  text-align: justify;
}
img {
  height: auto;
  width: 400px;
  border-radius: 20px;
}
img.recipes {
  height: auto;
  width: 300px;
  border-radius: 20px;
}

/* Nav bar style code below */
ul.nav {
  padding-left: 0px;
  background-color: #ffc251;
  text-align: left;
  padding-left: 0px;
}
ul.nav > li {
  display: inline;
  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #27bfbf;
}
ul.nav > li > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Previous and Next recipe nav buttons */
ul.nxt-prev {
  padding-left: 0px;
  text-align: center;
  padding-left: 0px;
}
ul.nxt-prev > li {
  display: inline;
  padding: 10px 20px;
}
ul.nxt-prev > li:hover {
  background-color: #27bfbf;
}
ul.nxt-prev > li > a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
